<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     
    <!-- Bootstrap CSS Offline -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Belajar Framework css</title>
  </head>
  <body>
    <h1>Belajar Framework css</h1>

   <!-- Four directions -->
   <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Top popover">
    Popover on top
  </button>
  <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Right popover">
    Popover on right
  </button>
  <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover">
    Popover on bottom
  </button>
  <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Left popover">
    Popover on left
  </button>

  <!-- Dismiss on next click -->
  <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>


  <!-- Disabled elements -->
  <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
    <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
  </span>

  <!-- Usage -->
  $('#example').popover(options)

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.slim.min.js"></script>

    
  </body>
</html>